*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(234, 242, 233);
    /* background-color: black; */

}

header{
    /* border: 2px solid black; */
    display: flex;
    height: 7vh;
    align-items: center;
    margin: 20px 0;
    padding: 5px 0;
}
 
header h2{
    /* border: 1px solid black; */
    margin: 0 20px 0 150px;
    padding: 5px;
    font-size: 30px;
    overflow: hidden;
}

header a{
    color: black;
}

header .download{
    border: 2px solid black;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

header .download:hover{
    background-color: white;

}

section{
    /* border: 2px solid black; */
    display: flex;
}

 .profdetails{
    /* border: 2px solid black; */
    width: 25%;
    margin: 40px 10px 10px 150px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .profdetails h3{
    /* border: 2px solid red; */
    /* width: 100%; */
    height: 35px;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 25px;
    text-transform: uppercase;
}

 .profdetails img{
    margin: auto;
    display: block;
    width: 80%;
    height: 300px;
}

 .profdetails table{
   margin: 0 auto;
   width: 100%;
}

 .profdetails th,td{
   padding: 5px 0;
   font-size: 15px;
}

.about {
    /* border: 2px solid black; */
    width: 50%;
    height: auto;
    margin: 10px 60px;
}
 
.about h1{
    /* border: 1px solid red; */
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: white;
}

.about table{
    /* border: 2px solid red; */
    width: 100%;
    background-color: white;
}

.about td,th{
    font-size: 18px;
}

.about_details{

    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.about_details h2 {
    margin: 10px 0 0 5px;
}

.about_details p {

    margin: 25px 0 0 0;
    font-size: 18px;
}

